/* ID */
#button-list{
  margin-top: 1em;
}

#controls{
  overflow: hidden;
}

#displays{
  border-right: black 1px solid;
  float: left;
  width: 70%;
}

#hide-title{
  margin-left: 10%;
  width: 50%;
}

#main-content{
  overflow: hidden;
}

#participant-table {
  margin: 0 auto;
}

#timer-display {
  color: red;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
}

#title {
  font-size: 4em;
}

/* Class */

.hideable {
  display: block;
}

.input-field {
  width: 60%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-title {
  margin: 0;
  text-align: center;
  width: 100%;
}

.remove {
  background-color: #E84560;
  color: white;
  margin: 0;
  padding: .5em;
}

.salary-field {
  width: 30%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.checkbox-Text{
  float:left;
}

/* Elements */

body {
  background-color: white;
  margin: 0;
  font-family: Tahoma;
  min-width: 400px;
}