/* ID */
#button-list{
  margin-top: 1em;
}

#checkbox-list {
  overflow: hidden;
}

#controls{
  min-width: 100px;
  overflow: hidden;
}

#cost-display{
  color: green;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
  width: 100%;
}

#displays{
  border-right: black 1px solid;
  float: left;
  width: 69%; /*hehe*/
}

#hide-group{
  margin-left: 10%;
  margin-right: 0 auto;
}

#hide-title{
  width: 50%;
}

#main-content{
  overflow: hidden;
}

#participant-table {
  margin: 1%;
}

#timer-display {
  color: red;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
  width: 100%;
}

#title {
  font-size: 4em;
}

/* Class */
.checkbox-text{
  float:left;
}

.hideable {
  display: block;
}

.error-input {
  border: 2px solid red;
}

.main-title {
  margin: 0;
  text-align: center;
  width: 100%;
}

.name-field {
  float: left;
  height: 100%;
  margin: 0;
  width: 55%;
}

.participant-row {
  height: 1.5em;
}

.remove {
  background-color: #E84560;
  border: grey 1px solid;
  color: white;
}

.remove-no {
  background-color: #E8959C;
  border: grey 1px solid;
  color: grey;
}

.remove-wrapper {
  float: left;
  font-size: 1.5em;
  height: 100%;
  margin: 0;
  width: 10%;
}

.salary-field {
  height: 100%;
  float: left;
  width: 30%;
}

/* Elements */

body {
  background-color: white;
  margin: 0;
  font-family: Tahoma;
  min-width: 800px;
}